.users{
    position: relative;
    overflow-y: auto;
}
.users h2{
    text-align: center;
    margin-top: 80px;
}
.users .cards{
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 4vw;
}
.users .cards .card{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(6, 205, 255);
    background: rgb(226, 248, 248);
}
.users .cards .card div{
    display: flex;
    justify-content: right;
}
.cards .card .btn{
    padding: 7px;
    border: none;
    background: rgb(0, 146, 156);
    border-radius:  6px;
    color: white;
    cursor: pointer;
}