.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 501;
}

.modal-content {
    background-color: #1c1c1c;
    box-shadow: 0 0 3px aqua;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px) scale(0.8);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.edit-modal .modal-content h3 {
    margin: 0;
}
.edit-modal .modal-content form{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.edit-modal .modal-content form div{
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}
.edit-modal form div input{
    width: calc(100% - 20px);
}
.modal-content label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}

.modal-content input {
    padding: 9px;
    font-family: 'poppins';
    background-color: rgba(0, 0, 0, 0.409);
    border: none;
    box-shadow: 0 0 1px aqua, 0 0 1px aqua;
}
.edit-modal .modal-content form input:focus{
    outline: aqua;
    border: aqua solid 1px;
    padding: 9px;
}
.edit-modal form .btns {
    display: flex;
    justify-content: space-between;
}

.modal-content .btns button {
    margin-top: 10px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.edit-modal .btns .btn-save {
    color: aqua;
    background-color: rgb(59, 59, 59);
    box-shadow: 0 0 1px aqua,0 0 1px aqua;
}

.edit-modal .btns .btn-save {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: aqua;
    cursor: pointer;
    transition: 0.25s ease;
}

.edit-modal .btns .btn-save:hover {
    /* border-color: aqua; */
    box-shadow: 0 0 4px aqua, 0 0 4px aqua;
}

.edit-modal .btns .btn-cancel {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    color: red;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0 0 1px red,0 0 1px red;

}

.edit-modal .btns .btn-cancel:hover {
    box-shadow: 0 0 4px red, 0 0 4px red;

}