.navegador{
    position: fixed;
    top: 0px;
    width: 100%;
}
.navegador nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background: rgb(79, 203, 223);
    width: 100%;
    z-index: 1;
}
.navegador  .link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
}
.navegador .link:hover{
    background: rgb(21, 136, 140);
}