.form-register {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    display: flex;
    flex-direction: column;
}
.form-register> h2{
    -webkit-text-stroke: .8px aqua;
    font-weight: 800;
    text-shadow: 0 0 3px black, 0 0 3px black;
    letter-spacing: 2px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}
.form-register form{
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 1px aqua, 0 0 1px aqua;
    transition: .5s ease;
}
.form-register form:hover{
    box-shadow: 0 0 8px aqua;
}
.form-register form label{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'poppins';
    box-sizing: border-box;
}

.form-register form div{
    display: flex;
    gap: 25px;
    box-sizing: border-box;
}
.form-register form div input{
    width: calc(100% - 15px);
}
.form-register h1 {
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'poppins';
    margin-bottom: 20px;
}

.form-register input {
    padding: 7px; 
    margin-bottom: 15px; 
    font-size: 15px;
    font-family: 'poppins';
    border: 1px solid #444; 
    background-color: rgba(0, 0, 0, 0.409);

    color: white;
}

.form-register input::placeholder {
    color: #888; /* Color del texto del placeholder */
}

.form-register input:focus {
    outline: none; /* Sin contorno al hacer foco */
    border-color: aqua; /* Cambia el color del borde al hacer foco */
}

.form-register button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.form-register button:hover {
    background-color: #0056b3; 
}
.form-register button .ico-save{
    font-size: 22px;
    margin-top: -3px;
}